@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for arrow rotation on hover */
.rotate-arrow:hover {
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.news-image {
    transition: opacity 0.3s ease-in-out;
}
.menu-box a:hover{
    color: #E65E0B;
}
.marginTop{
    margin-top: 45rem;
}
.bgColor{
    background-color: #333333;
    color: #FFFFFF;
}
.fotter-text-color{
    color: #E65E0B;
}